annotated-types @ file:///C:/ProgramData/Miniconda3/conda-bld/annotated-types_1697817727292/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
anywidget @ file:///C:/ProgramData/Miniconda3/conda-bld/anywidget_1720630599179/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
arcgis==2.4.0.1
arcgis-mapping @ file:///usr/share/miniconda/conda-bld/arcgis-mapping_1727781594440/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///C:/ci_311/argon2-cffi-bindings_1676424443321/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///opt/homebrew/Caskroom/miniconda/base/conda-bld/async-lru_1698408937664/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
azure-core @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/azure-core_1615482738248/work
azure-storage-blob @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/azure-storage-blob_1615483038755/work
Babel==2.11.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
black @ file:///C:/ProgramData/Miniconda3/conda-bld/black-suite_1698942249168/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
cftime @ file:///C:/ProgramData/Miniconda3/conda-bld/cftime_1700530429328/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///D:/bld/click_1734858834134/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///C:/ProgramData/Miniconda3/conda-bld/comm_1724356042054/work
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cryptography @ file:///C:/conda/conda-bld/cryptography-split_1727232415600/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cytoolz @ file:///C:/b/abs_d43s8lnb60/croot/cytoolz_1701723636699/work
dask @ file:///C:/ProgramData/Miniconda3/conda-bld/dask-core_1725916559667/work
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distributed @ file:///C:/ProgramData/Miniconda3/conda-bld/distributed_1685421130528/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1661724178959/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1739898391164/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940287426/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1743361113926/work
future==0.18.3
geojson @ file:///home/conda/feedstock_root/build_artifacts/geojson_1734884856640/work
geomet @ file:///C:/conda/conda-bld/geomet_1668449034146/work
greenlet @ file:///C:/b/abs_a6c75ie0bc/croot/greenlet_1702060012174/work
gssapi @ file:///C:/conda/conda-bld/python-gssapi_1723785260613/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///P:/h5py
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///C:/ProgramData/Miniconda3/conda-bld/ipykernel_1724690977246/work
ipython @ file:///C:/conda/conda-bld/ipython_1726108214814/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1733399582966/work
ipywidgets @ file:///C:/ProgramData/Miniconda3/conda-bld/ipywidgets_1724358571455/work
isodate @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/isodate_1615438109370/work
jdcal==1.4.1
jedi @ file:///C:/conda/conda-bld/jedi_1686919188697/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
json5 @ file:///C:/ProgramData/Miniconda3/conda-bld/json5_1724358933639/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter-console @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_console_1704479057389/work
jupyter-events @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_events_1724362073497/work
jupyter-lsp @ file:///opt/homebrew/Caskroom/miniconda/base/conda-bld/jupyter-lsp_1698409208182/work
jupyter_client @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_client_1703282184287/work
jupyter_core @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_core_1703272740095/work
jupyter_server @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_server_1725665147132/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///C:/conda/conda-bld/jupyterlab_1732133324179/work
jupyterlab-widgets @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_widgets_1724365202338/work
jupyterlab_pygments @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_pygments_1704407501601/work
jupyterlab_server @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_server_1724363706016/work
keyring @ file:///C:/ProgramData/Miniconda3/conda-bld/keyring_1700668160653/work
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml @ file:///C:/conda/conda-bld/lxml_1724125321152/work
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219583522/work
matplotlib @ file:///C:/ProgramData/Miniconda3/conda-bld/matplotlib-suite_1706283048801/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1742402716/work
mkl-fft @ file:///C:/ProgramData/Miniconda3/conda-bld/mkl_fft_1725821919461/work
mkl-random @ file:///C:/ProgramData/Miniconda3/conda-bld/mkl_random_1725822642792/work
mkl-service==2.4.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///C:/ci_311/msgpack-python_1676427482892/work
msrest @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/msrest_1615480661627/work
munkres==1.1.4
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1733230897951/work
nbclassic @ file:///C:/conda/conda-bld/nbclassic_1725646022600/work
nbclient @ file:///C:/ProgramData/Miniconda3/conda-bld/nbclient_1704316172829/work
nbconvert @ file:///C:/ProgramData/Miniconda3/conda-bld/nbconvert_1724387832235/work
nbformat @ file:///C:/ProgramData/Miniconda3/conda-bld/nbformat_1724369662337/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
netCDF4 @ file:///C:/conda/conda-bld/netcdf4_1709266434171/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1728631323331/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///C:/conda/conda-bld/notebook_1732140725938/work
notebook_shim @ file:///C:/ProgramData/Miniconda3/conda-bld/notebook-shim_1724387267044/work
numexpr @ file:///C:/ProgramData/Miniconda3/conda-bld/numexpr_1686674945615/work
numpy @ file:///C:/conda-build/numpy_suite_1686348657980/work
oauthlib @ file:///C:/ProgramData/Miniconda3/conda-bld/oauthlib_1700522646422/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1734769783178/work
openpyxl @ file:///C:/b/abs_764brjadj1/croot/openpyxl_1714158895873/work
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///C:/ProgramData/Miniconda3/conda-bld/pandas_1686717382258/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pathspec @ file:///C:/ProgramData/Miniconda3/conda-bld/pathspec_1647983158332/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pefile @ file:///home/conda/feedstock_root/build_artifacts/pefile_1653943763999/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///C:/ProgramData/Miniconda3/conda-bld/pillow_1723155289332/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
pro_notebook_integration @ file:///C:/ProgramData/Miniconda3/conda-bld/pro_notebook_integration_1731956920529/work
prometheus-client @ file:///C:/ProgramData/Miniconda3/conda-bld/prometheus_client_1725664907537/work
prompt_toolkit @ file:///C:/ProgramData/Miniconda3/conda-bld/prompt-toolkit_1724387594358/work
protobuf @ file:///P:/protobuf/shared/x64/RelWithDebInfo/python
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
psygnal @ file:///C:/ProgramData/Miniconda3/conda-bld/psygnal_1715011011338/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
puremagic @ file:///C:/ProgramData/Miniconda3/conda-bld/puremagic_1699976227445/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1733216196861/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///C:/ProgramData/Miniconda3/conda-bld/pydantic_1697818061770/work
pydantic_core @ file:///C:/ProgramData/Miniconda3/conda-bld/pydantic-core_1697816665848/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1733216066937/work
Pygments @ file:///C:/ProgramData/Miniconda3/conda-bld/pygments_1724388102955/work
PyJWT @ file:///C:/Users/bri11091/conda-bld/pyjwt_1654010749687/work
pylerc @ file:///C:/Users/par97462/Anaconda3/conda-bld/pylerc_1695389238052/work
pyodbc @ file:///C:/b/abs_90kly0uuwz/croot/pyodbc_1705431396548/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
pypdf @ file:///C:/conda/conda-bld/pypdf_1727893565831/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1733821528126/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pyspnego @ file:///C:/conda/conda-bld/pyspnego_1727237360520/work
pytest @ file:///C:/ProgramData/Miniconda3/conda-bld/pytest_1700520176034/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz==2022.6
pywin32==308
pywin32-ctypes==0.2.0
pywinpty @ file:///C:/ci_311/pywinpty_1677707791185/work/target/wheels/pywinpty-2.0.10-cp311-none-win_amd64.whl
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454678094/work
pyzmq @ file:///C:/conda/conda-bld/pyzmq_1725640709706/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///C:/b/abs_d5e2e5uqmr/croot/regex_1696515472506/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-gssapi @ file:///C:/Users/bri11091/conda-bld/requests-gssapi_1661274134539/work
requests-kerberos @ file:///C:/ProgramData/Miniconda3/conda-bld/requests-kerberos_1713814077105/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
requests-toolbelt @ file:///C:/conda/conda-bld/requests-toolbelt_1686940937914/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
saspy @ file:///C:/conda/conda-bld/saspy_1666039492050/work/saspy
scipy @ https://files.pythonhosted.org/packages/42/81/0a64d2204c3b261380ac96c6d61f018528108b62c0e21e6153a58cebf4f6/scipy-1.9.3-cp311-cp311-win_amd64.whl#sha256=06d2e1b4c491dc7d8eacea139a1b0b295f74e1a1a0f704c375028f8320d16e31
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
Send2Trash @ file:///D:/bld/send2trash_1733322089150/work
shapely @ file:///C:/ProgramData/Miniconda3/conda-bld/shapely_1722309801366/work
six @ file:///opt/conda/conda-bld/six_1642687545475/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
SQLAlchemy @ file:///C:/ProgramData/Miniconda3/conda-bld/sqlalchemy_1723157191031/work
sspilib @ file:///C:/conda/conda-bld/sspilib_1727213847535/work
stack-data @ file:///C:/ProgramData/Miniconda3/conda-bld/stack_data_1665425585665/work
statsmodels @ file:///C:/b/abs_7bth810rna/croot/statsmodels_1689937298619/work
swat @ file:///C:/ProgramData/Anaconda3/conda-bld/swat_1693516828169/work
sympy==1.12
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1733842374544/work
terminado @ file:///D:/bld/terminado_1710262761616/work
testpath @ file:///C:/conda/conda-bld/testpath_1642830520225/work
tinycss2 @ file:///C:/ProgramData/Miniconda3/conda-bld/tinycss2_1665680994900/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
truststore @ file:///C:/ProgramData/Miniconda3/conda-bld/truststore_1718135960165/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1743201626/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
ujson @ file:///C:/ci_311/ujson_1676434714224/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
watchfiles @ file:///C:/b/abs_46ka9wqoov/croot/watchfiles_1700601334608/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
widgetsnbextension @ file:///C:/ProgramData/Miniconda3/conda-bld/widgetsnbextension_1724388309143/work
win-inet-pton @ file:///C:/ProgramData/Miniconda3/conda-bld/win_inet_pton_1700172330063/work
winkerberos @ file:///C:/ProgramData/Miniconda3/conda-bld/winkerberos_1700166464674/work
wrapt @ file:///C:/ci_311/wrapt_1676432805090/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1711742149839/work
xeus-python-shell @ file:///C:/ProgramData/Miniconda3/conda-bld/xeus-python-shell_1728401005487/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xlwt==1.3.0
zict @ file:///C:/ProgramData/Miniconda3/conda-bld/zict_1686085483563/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.19.0
